#seccion1{
    margin-right: 20%;
    padding-top:3%;
    padding-bottom:5%;
}

#descripcion{
    padding-top:3%;
}

#explaboral{
    margin-right: 28%;
    padding-bottom: 5%;
}

#formacion{
    margin-right: 28%;
    padding-bottom: 5%;
    padding-top: 5%;
}

 body{
    background-image: url();
    background-size: 100% 100%;
    background-color: blanchedalmond;
    }

#datos{
    margin-bottom:1%;
}

